.dot-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.dot-grid__wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.dot-grid__canvas {
    display: block;
    width: 100%;
    height: 100%;
}